---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../partials/formattedDate.astro';
import { SiteConfig } from '../../utils/SiteConfig';

export async function getStaticPaths() {
    const notes = await getCollection('notes');

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: note,
    }));
}

const note = Astro.props;
const { Content } = await note.render();

const image = `/og/${note.slug}.png`;
---

<Layout props={{ title: `${note.data.title} — ${SiteConfig.title}`, description: SiteConfig.description, image: image }}>
    <main class="main wrap-narrow">

        <a href="/notes" class="back-button">Back to Notes</a>

        <article class="content-article">
            <header class="article-header">
                <FormattedDate date={note.data.publishDate} />
                <h1>{note.data.title}</h1>
            </header>
            
            <div class="note-content">
                <Content />
            </div>
        </article>
    </main>
</Layout>
<style>
    .article-header h1 {
        font-size: 1.6rem;
        font-weight: 700;
    }

    .note-content {
        h2 {
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 1rem;
            margin-top: 2rem;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        h4 {
            font-weight: 500;
            margin-bottom: 1rem;
        }
    }
</style>