---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../partials/formattedDate.astro';
import { SiteConfig } from '../../utils/SiteConfig';
import Header from '../../partials/Header.astro';
import Grid from '@components/utils/Grid.astro';
// import Share from '../../components/Share/Share.jsx';

export const prerender = true;

export async function getStaticPaths() {
    const notes = await getCollection('notes');

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: { note },
    }));
}

const { note } = Astro.props;

let Content = null;
let frontmatter = {};

if (note) {
    frontmatter = note.data || {};
    if (note.render) {
        const rendered = await note.render();
        Content = rendered.Content || null;
    }
}
---

<Layout props={{ 
    title: `${frontmatter.title} — ${SiteConfig.title}`, 
    description: SiteConfig.description, 
    image: SiteConfig.image }}>

    <Header />
    
    <main class="main internal-spacing">
        <Grid isContainer>
            <Grid sm="12" md="4"></Grid>
            <Grid sm="12" md="4">
                <article class="content-article">
                    <header class="page__heading">
                        <div class="heading__left">
                            <h1>{note.data.title}</h1>
                            <FormattedDate date={note.data.publishDate} />
                        </div>

                        <!-- <div class="heading__right">
                            <Share slug={`https://frnd.design/notes/${note.slug}`} client:load />
                        </div> -->
                    </header>
                
                    <section class="note__content">
                        <Content />
                    </section>
                </article>
            </Grid>
            <Grid sm="12" md="4"></Grid>
        </Grid>
    </main>
</Layout>