---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import DateN from '@partials/Date.astro';
import { SiteConfig } from "@utils/SiteConfig";
import Header from '@partials/Header.astro';
import Footer from '@partials/Footer.astro';
import Grid from '@components/utils/Grid.astro';
import PageHeading from '@partials/PageHeading.astro';

const notes = await getCollection('notes', ({ data }) => {
    return data.draft !== true;
});

notes.sort((a,b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));
const renderedNotes = await Promise.all(
    notes.map(async (note) => {
        const { Content } = await note.render();
        return { ...note, Content };
    })
);

---
<Layout props={{ title: `Notes — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>

	<Header />
	
	<main class="main">
		<PageHeading title="Notes" description="A collection of thoughts & ideas." />

		<section class="block__content--articles wrap-wider">
		{renderedNotes.map((note) => (
			<article class="notes__item">
				<a href={`/notes/${note.slug}`} title={`Read ${note.data.title}`}>
					<div class="notes__item--inner">
						<DateN date={note.data.publishDate} />
						<h2>{note.data.title}</h2>
						{/* <p>{note.data.description}</p> */}
					</div>
				</a>
			</article>
		))}
		</section>
	</main>

	<Footer />
</Layout>

<style>
	.block__content--articles {
		margin-top: var(--spacing-8);
		transition: .4s;
	}

	.block__content--articles > article {
		opacity: 1;
		transition: .4s;
	}

	.block__content--articles:hover > article {
		opacity: 0.6;
	}

	.block__content--articles > article:hover {
		opacity: 1;
	}

	.notes__item {
		h2 {
			font-weight: 500;
		}
	}
</style>