---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../partials/formattedDate.astro';
import { SiteConfig } from "../../utils/SiteConfig";

const notes = await getCollection('notes');

notes.sort((a,b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));

const renderedNotes = await Promise.all(
	notes.map(async (note) => {
		const { Content } = await note.render();
		return { ...note, Content };
	})
);

---
<Layout props={{ title: `Notes — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
	<main class="main wrap-narrow">

		<a href="/" class="back-button">Back to Home</a>

		<section class="content-section notes-list">
		{renderedNotes.map((note) => (
			<article class="content-article">
				<header class="article-header">
					<a href={`/notes/${note.slug}`} title={`View ${note.data.title}`}>
						<h2>{note.data.title}</h2>
						<hr/>
						<FormattedDate date={note.data.publishDate} />
						{/* <p>{note.data.description}</p> */}
					</a>
				</header>

				{/* <note.Content /> */}

			</article>
		))}
		</section>
	</main>
</Layout>
<style>
	.notes-list {
		padding-bottom: 4rem;

		.article-header a {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			transition: .3s;

			&:hover {
				opacity: .7;
			}
		}

		.article-header h2 {
        	font-size: var(--type-default-size);
			margin-bottom: 0;
			width: max-content;
			flex-shrink: 0;
    	}

		.content-article {
			margin-bottom: 0;
			border-radius: 10px;
			padding-bottom: 1rem;
		}

		hr {
			width: 100%;
			border-top: 1px solid #dddddd;
			margin: 0 20px;
		}

		time {
			flex-shrink: 0;
		}
	}
</style>