---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';
import { SiteConfig } from "../../utils/SiteConfig";
import Header from '../../partials/Header.astro';
import Footer from '@partials/Footer.astro';
import Grid from '@components/utils/Grid.astro';
import PageHeading from '@partials/PageHeading.astro';

const works = await getCollection('works');
const filteredWorks = works.filter(item => !item.data.isDraft);
filteredWorks.sort((a, b) => b.data.order - a.data.order);
---
<Layout props={{ title: `Recent Works — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    
    <Header />
    
    <main class="main">
		<PageHeading title="Works" description="Some works." />

		<section class="works__page wrap-wider">
			<Grid isContainer>
			{filteredWorks.map((item) => (
				<Grid sm="12" md="4">
					<article>
						<a href={`/works/${item.slug}`} title={item.data.title}>
							<figure>
								<img src={item.data.cover.src} alt={item.data.title} />
							</figure>

							<div class="work__details">
								<h3>{item.data.title}</h3>
								<h4>{item.data.type}・{item.data.year}</h4>
							</div>
						</a>
					</article>
				</Grid>
			))}
			</Grid>
		</section>
    </main>

	<Footer/>
</Layout>
<style>
	.work__details {
		h3 {
			font-size: var(--font-size-h4);
			font-family: "Apple Garamond Light", serif;
		}

		h4 {
			font-size: var(--font-size-h6);
			font-weight: 400;
		}
	}

	.works__page {
		figure {
			margin-bottom: var(--spacing-2);
		}

		h4 {
			color: hsla(var(--body-text-color), 0.6);
		}

		img {
			border-radius: var(--radius-md);
		}

		article {
			margin-bottom: var(--spacing-4);
		}
	}

	@media screen and (max-width: 768px) {
	.works__page {
			padding: 0 var(--spacing-1);
		}
	}
</style>