---
import Layout from '../../layouts/Layout.astro'
import Grid from '../../components/utils/Grid.astro'
import { getCollection } from 'astro:content';
import PortfolioCard from '../../components/PortfolioCard/PortfolioCard.jsx';
import { SiteConfig } from "../../utils/SiteConfig";

const portfolio = await getCollection('works');
portfolio.sort((a,b) => Date.parse(a.data.order) - Date.parse(b.data.order));
---
<Layout props={{ title: `Recent Works — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <div class="main wrap">
        <h1>Recent Works</h1>
        <div class="portfolio-list">
            <Grid isContainer>
                {portfolio.map((item, index) => (
                    <Grid lg="12" md="12" sm="12">
                        <PortfolioCard client:load key={index} src={item.data.cover.src} title={item.data.title} slug={item.slug} description={item.data.description} />
                    </Grid>
                ))}
            </Grid>
        </div>
    </div>
</Layout>