---
import Layout from '../layouts/Layout.astro';
import SocialNav from '../components/SocialNav.astro';
import LinkWithPreview from '../components/LinkImage/LinkImage.tsx';
import { getCollection } from 'astro:content';

const works = await getCollection('works');
works.sort((a,b) => Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate));
---

<Layout>
	<main class="main wrap">
		<section class="content-section">
			<article class="content-article">
				<p>Brazilian designer with 13 years of experience. Passionate about UI and everything related to interfaces. Front end as a hobby. Icon designer enthusiast. Driven by curiosity.</p>

				<!-- <p>To check out some of my work, see my <LinkWithPreview client:load href="/works" text="recent works" images={["/uploads/images/preview/preview-works.webp"]} /> and my <LinkWithPreview client:load href="/labs" text="experiments" images={["/uploads/images/preview/preview-labs.webp"]} />.</p> -->
			</article>
		</section>

		<section class="content-section">
			<article class="content-article">
				<SocialNav />
			</article>
		</section>

		<section class="content-section">
			<article class="content-article">
				<h2>Recent works</h2>
				{works.map((item, index) => (
					<article class="portfolio-card" key={index}>
						<a href={`/works/${item.slug}`} title={`View ${item.data.title}`}>
							<figure>
								<img src={item.data.cover.src} alt={item.data.title} loading="lazy">
							</figure>

							<div class="portfolio-card__footer">
								<h3>{item.data.title}</h3>
								<p>View project</p>
							</div>
						</a>
					</article>
                ))}
			</article>
		</section>

	</main>
</Layout>

<style>
	.portfolio-card {
		width: auto;
		margin-bottom: 2rem;

		a {
			cursor: crosshair;
			text-decoration: none;
		}

		figure {
			overflow: hidden;
			border-radius: 5px;
			display: inline-grid;

			img {
				width: 100%;
				background-color: var(--icon-bg);
			}
		}
	}

	@media screen and (max-width: 475px) {
		.portfolio-card {
			margin-bottom: 2rem;
		}

		img, figure {
			border-radius: 0!important;
		}
	}

	.portfolio-card__footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;

		h3 {
			font-size: 1rem;
			font-weight: normal;
		}

		p {
			font-size: .8rem;
			color: var(--title-color);
			margin-bottom: 0;
		}
	}
</style>