---
import { getCollection } from 'astro:content';
import { SiteConfig } from '@utils/SiteConfig';
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@partials/formattedDate.astro';
import Header from '@partials/Header.astro';
import Hero from '@partials/Hero.astro';

const works = await getCollection('works');
const filteredWorks = works.filter(item => !item.data.isDraft);
filteredWorks.sort((a, b) => b.data.order - a.data.order);
// const latestWorks = filteredWorks.slice(0,9);

---

<Layout props={{ title: SiteConfig.title, description: SiteConfig.description, image: SiteConfig.image }}>
  <Hero>
    
    <Header />
    
    <section class="hero__content">
      <div class="hero--headline">
        <div class="wrap-wider">
          <h1>Hi, I'm Fernando Soares.</h1>
          <h2>Interface Designer based on <span>Florianópolis, Brazil.</span></h2>
        </div>
      </div>

      <div class="hero--contact">
        <div class="wrap-wider">
          <h3>say hello — <a href="mailto:hi@frnd.design">hi@frnd.design</a></h3>
        </div>
      </div>
    </section>
  </Hero>
	
	<!-- <main class="main">
    <section class="wrap latest-works">
        {filteredWorks.map((item) => (
          <article class="home__work">
            <a href={`/works/${item.slug}`} title={"View " + item.data.title}>
             <div class="home__work--details">
              <div class="details--top">
                <h3>{item.data.title}</h3>
                <p>{item.data.role}・{item.data.year}</p>
              </div>
              
              <div class="details--bottom">
                <div class="details--left">
                  <p>{item.data.description}</p>
                </div>
              </div>
            </div>

              <figure>
                  <img src={item.data.cover.src} alt={item.data.title} />
              </figure>
            </a>
          </article>
        ))}
    </section>
	</main> -->

</Layout>
<style>
  .hero__content {
    padding-bottom: var(--spacing-8);
  }

  .hero--headline {
    padding: var(--spacing-2) 0;

    h1 {
      margin-bottom: var(--spacing-1);
    }
  }

  .hero--contact {
    border-top: 1px solid rgba(255, 255, 255, .10);
    border-bottom: 1px solid rgba(255, 255, 255, .10);
    padding: var(--spacing-2) 0;
  }
</style>