---
import Layout from '../layouts/Layout.astro';
import SocialNav from '../components/SocialNav.astro';
import LinkWithPreview from '../components/LinkImage/LinkImage.tsx';
import { getCollection } from 'astro:content';
import { SiteConfig } from '../utils/SiteConfig';
import PortfolioCard from '../components/PortfolioCard/PortfolioCard';

const works = await getCollection('works');
works.sort((a,b) => Date.parse(a.data.order) - Date.parse(b.data.order));
---

<Layout props={{ title: SiteConfig.title, description: SiteConfig.description, image: SiteConfig.image }}>
	<main class="main wrap" data-fade="0.4">
		<section class="content-section">
			<article class="content-article intro" >
				<p>Interface Designer with 13 years of experience. Passionate about UI and everything related to interfaces. Front end as a hobby. Icon designer enthusiast. Driven by curiosity.</p>

				<p>To check out some of my work, see my <LinkWithPreview client:load href="#recent-works" text="recent works" images={["/uploads/images/preview/preview-works.webp"]} /> and my <LinkWithPreview client:load href="/labs" text="experiments" images={["/uploads/images/preview/preview-labs.webp"]} />.</p>
				
			</article>
		</section>

		<section class="content-section">
			<article class="content-article">
				<SocialNav />
			</article>
		</section>

		<section class="content-section" id="recent-works">
			<article class="content-article works-home">
				<h2>Recent works</h2>
				{works.map((item, index) => (
					<PortfolioCard client:load key={index} src={item.data.cover.src} title={item.data.title} slug={item.slug} description={item.data.description} />
                ))}
			</article>
		</section>

	</main>
</Layout>
<script>

	const anchorSmooth = () => {
		const links = document.querySelectorAll('a[href^="#"]');

		links.forEach(link => {
			link.addEventListener("click", (event) => {
			event.preventDefault();

			const targetId = link.getAttribute("href").substring(1);
			const targetElement = document.getElementById(targetId);

			if (targetElement) {
				window.scrollTo({
					top: targetElement.offsetTop,
					behavior: "smooth"
				});
			}
			});
		});
	}

	document.addEventListener("astro:after-swap", anchorSmooth);

</script>