---
import { Image } from "astro:assets";

const { href, title, image, cover, id } = Astro.props;
---

<div class="portfolio-card">
	<a href={href} title={title}>
		<figure>
			<Image src={image} alt={title} mediaTransitionName="cover" />
		</figure>
		<h2>{title}</h2>
	</a>
</div>
<style>
	.portfolio-card {
		display: flex;
		border-radius: 10px;
		padding: 16px;
		transition: .4s;
	}

	.portfolio-card img {
		border-radius: 10px;
	}

	.portfolio-card h2 {
		padding: 16px 0;
	}
</style>