---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro'
import { SiteConfig } from "@utils/SiteConfig";
import Header from '@partials/Header.astro';
import Grid from '@components/utils/Grid.astro';
import PageHeading from '@partials/PageHeading.astro';

const labs = await getCollection('labs');

const publishedLabs = labs.filter(post => !post.data.isDraft);

publishedLabs.sort((a, b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate));

const renderedLabs = await Promise.all(
  publishedLabs.map(async (post) => {
    const { Content } = await post.render();
    return { ...post, Content };
  })
);
---

<Layout props={{ title: `Labs — ${SiteConfig.title}`, description: SiteConfig.description, image: SiteConfig.image }}>
    <Header />
  
    <main class="main">
      <div class="wrap-lg">

        <PageHeading title="Labs" description="Experiments, concepts and other design stuff." />
        
      </div>

      <section class="labsItem__list wrap-media">
        <div class="mansory">
          {renderedLabs.map((post) => (
              <figure>
                  <img src={post.data.cover.src} alt={post.data.title}/>
                  <figcaption>
                    <h3>{post.data.title}</h3>
                    <h4>{post.data.type}</h4>
                  </figcaption>
              </figure>
          ))}
          </div>
      </section>
    </main>
</Layout>

<style>
  .labsItem__list {
    margin-bottom: var(--spacing-8);

    h3 {
      margin-bottom: calc(var(--spacing-1) / 2);
      font-weight: 500;
    }

    h4 {
      color: hsla(var(--body-text-color), .6);
    }
  }

  figure {
    position: relative;

    &:hover {
      
      figcaption {
        opacity: 1;
        transition: .4s;
      }
    }
  }

  figcaption {
    width: 100%;
    position: absolute;
    background-color: hsla(var(--body-background-color), 0.8);
    height: 100%;
    border-radius: var(--radius-md);
    padding: var(--spacing-1);
    align-content: end;
    opacity: 0;
    transition: .4s;
  }

  @media screen and (max-width: 768px) {
	.labsItem__list {
			padding: 0 var(--spacing-1);
		}
	}
</style>